<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="robots" content="all,follow">
    <meta name="googlebot" content="index,follow,snippet,archive">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="">

    <meta name="keywords" content="">

    <link href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100' rel='stylesheet' type='text/css'>

    <!-- styles -->
    <link href="/assets/css/font-awesome.css" rel="stylesheet">
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/animate.min.css" rel="stylesheet">
    <link href="/assets/css/owl.carousel.css" rel="stylesheet">
    <link href="/assets/css/owl.theme.css" rel="stylesheet">

    <!-- theme stylesheet -->
    <link href="/assets/css/style.default.css" rel="stylesheet" id="theme-stylesheet">

    <!-- your stylesheet with modifications -->
    <link href="/assets/css/custom.css" rel="stylesheet">
    {{{_sections.css}}}

    <script src="/assets/js/respond.min.js"></script>

    <link rel="shortcut icon" href="#">

    <title>{{{_sections.title}}}</title>

    <form action="/user/logout" type="hidden" method="post" id="logout">
    </form>

</head>

<body>
    <!-- *** TOPBAR *** -->
    <div id="top">
        <div class="container">
            <div class="col-md-6 offer" data-animate="fadeInDown">
                <a href="#" class="btn btn-success btn-sm" data-animate-hover="shake">Mua ngay hôm nay</a>  <a href="#">Giảm ngay 20% với đơn hàng trên 499.000VNĐ!</a>
            </div>
            <div class="col-md-6" data-animate="fadeInDown">
                <ul class="menu">
                    {{#if layoutVM.isLogged}}
                    <li><a href="/user">{{layoutVM.curUser.f_Username}}</a>
                    </li>
                    <li><a href="javascript:;" class="logout_btn">Đăng xuất</a>
                    </li>
                    {{else}}
                    <li><a href="#" data-toggle="modal" data-target="#login-modal">Đăng nhập</a>
                    </li>
                    <li><a href="/user/register">Đăng kí</a>
                    </li>
                    {{/if}}
                    <li><a href="/us/contact">Liên hệ</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
            <div class="modal-dialog modal-sm">

                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="Login">Đăng nhập</h4>
                    </div>
                    <div class="modal-body">
                        <form action="/user/login" method="post">
                            <div class="form-group">
                                <input type="text" class="form-control" id="email-modal" placeholder="email" name="email">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" id="password-modal" placeholder="mật khẩu" name="password">
                            </div>

                            <p class="text-center">
                                <button type="submit" class="btn btn-primary"><i class="fa fa-sign-in"></i> Đăng nhập</button>
                            </p>

                        </form>

                        <p class="text-center text-muted">Chưa có tài khoản?</p>
                        <p class="text-center text-muted"><a href="/user/register"><strong>Đăng kí ngay</strong></a>! Chỉ với 1 phút là bạn đã có thể truy cập vào hệ thống của chúng tôi và thoải mãi mua sắm :)</p>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- *** TOP BAR END *** -->

    <!-- *** NAVBAR *** -->
    <div class="navbar navbar-default yamm" role="navigation" id="navbar">
        <div class="container">
            <div class="navbar-header">

                <a class="navbar-brand home" href="/" data-animate-hover="bounce">
                    <img src="/imgs/icons/logo.png" alt="logo" class="hidden-xs" style="max-height:100%; max-width:100%;">
                    <img src="/imgs/icons/logo.png" alt="logo" class="visible-xs" style="max-height:100%; max-width:100%;"><span class="sr-only">Go to homepage</span>
                </a>
                <div class="navbar-buttons">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="fa fa-align-justify"></i>
                    </button>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#search">
                        <span class="sr-only">Toggle search</span>
                        <i class="fa fa-search"></i>
                    </button>

                    {{#if layoutVM.isLogged}}
                    <a class="btn btn-default navbar-toggle" href="/cart">
                        <i class="fa fa-shopping-cart"></i><span class="hidden-xs">Giỏ hàng (<span class="cart-count">0</span>)</span>
                    </a>
                    {{else}}
                    <a class="btn btn-default navbar-toggle" data-toggle="modal" data-target="#login-modal" href="#">
                        <i class="fa fa-shopping-cart"></i><span class="hidden-xs">Giỏ hàng (<span class="cart-count">0</span>)</span>
                    </a>
                    {{/if}}

                </div>
            </div>
            <!--/.navbar-header -->

            <div class="navbar-collapse collapse" id="navigation">

                <ul class="nav navbar-nav navbar-left">
                    <li class="active"><a href="/">Trang chủ</a>
                    </li>

                    {{#each layoutVM.client_infos}}
                    <li class="dropdown yamm-fw">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="200">{{client.CliName}}<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <div class="yamm-content">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <ul>
                                                {{#each cates}}
                                                <li>
                                                    <a href="/product/byCat/{{CatID}}">{{CatName}}</a>
                                                </li>
                                                {{/each}}
                                            </ul>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="banner">
                                                <a href="#">
                                                    <img src="/imgs/icons/banners/{{client.CliID}}/banner.jpg" class="img img-responsive" alt="">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.yamm-content -->
                            </li>
                        </ul>
                    </li>
                    {{/each}}

                </ul>

            </div>
            <!--/.nav-collapse -->

            <div class="navbar-buttons">

                {{#if layoutVM.isLogged}}
                <div class="navbar-collapse collapse right" id="basket-overview">
                    <a href="/cart" class="btn btn-primary navbar-btn"><i class="fa fa-shopping-cart"></i><span class="hidden-sm">Giỏ hàng (<span class="cart-count">0</span>)</span></a>
                </div>
                {{else}}
                <div class="navbar-collapse collapse right" id="basket-overview">
                    <a href="#" data-toggle="modal" data-target="#login-modal" class="btn btn-primary navbar-btn"><i class="fa fa-shopping-cart"></i><span class="hidden-sm">Giỏ hàng (<span class="cart-count">0</span>)</span></a>
                </div>
                {{/if}}
                <!--/.nav-collapse -->

                <div class="navbar-collapse collapse right" id="search-not-mobile">
                    <button type="button" class="btn navbar-btn btn-primary" data-toggle="collapse" data-target="#search">
                        <span class="sr-only">Toggle search</span>
                        <i class="fa fa-search"></i>
                    </button>
                </div>

            </div>

            <div class="collapse clearfix" id="search">

                <form class="navbar-form" method="get" action="/product" role="">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Tìm kiếm" name="search">
                        <span class="input-group-btn">

                            <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>

                        </span>
                    </div>
                </form>

            </div>
            <!--/.nav-collapse -->

        </div>
        <!-- /.container -->
    </div>

    <!-- *** NAVBAR END *** -->

    <div id="all">

        {{{body}}}

        <!-- *** FOOTER *** -->
        <div id="footer" data-animate="fadeInUp">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <h4>Thông tin</h4>

                        <ul>
                            <li><a href="/us/about">Về chúng tôi</a>
                            </li>
                            <li><a href="/us/faq">FAQ</a>
                            </li>
                            <li><a href="/us/contact">Liên lạc</a>
                            </li>
                        </ul>

                        <hr>

                        <h4>Người dùng</h4>

                        <ul>
                            {{#if layoutVM.isLogged}}
                            <li><a href="/user">{{layoutVM.curUser.f_Username}}</a>
                            </li>
                            <li><a href="javascript:;" class="logout_btn">Đăng xuất</a>
                            </li>
                            {{else}}
                            <li><a href="#" data-toggle="modal" data-target="#login-modal">Đăng nhập</a>
                            </li>
                            <li><a href="/user/register">Đăng kí</a>
                            </li>
                            {{/if}}
                        </ul>

                        <hr class="hidden-md hidden-lg hidden-sm">

                    </div>
                    <!-- /.col-md-3 -->

                    <div class="col-md-3 col-sm-6">

                        <h4>Danh mục</h4>

                        {{#each layoutVM.client_infos}}
                        <h5>
                            <a href="/product/byCli/{{client.CliID}}">{{client.CliName}}</a>
                        </h5>

                        <ul>
                            {{#each cates}}
                            <li><a href="/product/byCat/{{CatID}}">{{CatName}}</a>
                            </li>
                            {{/each}}
                        </ul>
                        {{/each}}

                        <hr class="hidden-md hidden-lg">

                    </div>
                    <!-- /.col-md-3 -->

                    <div class="col-md-3 col-sm-6">

                        <h4>Thương hiệu</h4>

                        <ul>
                            {{#each layoutVM.brands}}
                            <li><a href="/product/byBra/{{BraID}}">{{BraName}}</a>
                            </li>
                            {{/each}}
                        </ul>

                        <hr class="hidden-md hidden-lg">

                    </div>

                    <div class="col-md-3 col-sm-6">

                        <h4>Kết nối với chúng tôi</h4>

                        <p>
                            <strong><a href="/us/contact">SSG Company</a></strong>
                            <br>69/227
                            <br>Gia Kiệm
                            <br>Đồng Nai
                            <br>Việt Nam
                            <br>
                            <strong>Being Great</strong>
                        </p>

                        <hr>

                        <h4>Các trang liên quan</h4>

                        <p class="social">
                            <a href="#" class="facebook external" data-animate-hover="shake"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="twitter external" data-animate-hover="shake"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="instagram external" data-animate-hover="shake"><i class="fa fa-instagram"></i></a>
                            <a href="#" class="gplus external" data-animate-hover="shake"><i class="fa fa-google-plus"></i></a>
                            <a href="#" class="email external" data-animate-hover="shake"><i class="fa fa-envelope"></i></a>
                        </p>

                    </div>
                    <!-- /.col-md-3 -->

                </div>
                <!-- /.row -->

            </div>
            <!-- /.container -->
        </div>

        <!-- *** FOOTER END *** -->

    </div>

    <!-- *** SCRIPTS TO INCLUDE *** -->
    <script src="/assets/js/jquery-1.11.0.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/jquery.cookie.js"></script>
    <script src="/assets/js/waypoints.min.js"></script>
    <script src="/assets/js/modernizr.js"></script>
    <script src="/assets/js/bootstrap-hover-dropdown.js"></script>
    <script src="/assets/js/owl.carousel.min.js"></script>
    <script src="/assets/js/front.js"></script>

    <script type="text/javascript">
    $('.logout_btn').on('click', function() {
        $('#logout').submit();
    });
    </script>

    {{{_sections.js}}}

</body>

</html>