<div id="content">
    <div class="container">

        <div class="col-md-12">
            <ul class="breadcrumb">
                <li><a href="/">Home</a>
                </li>
                <li>Sản phẩm</li>
                {{#with product}}
                <li>{{ProName}}</li>
                {{/with}}
            </ul>

        </div>

        <div class="col-md-12">

            {{#with product}}
            <div class="row" id="productMain">
                <div class="col-sm-6">
                    <div id="mainImage">
                        <img src="/imgs/products/{{ProID}}/1.jpg" alt="" class="img-responsive">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="box">
                        <h1 class="text-center">{{ProName}}</h1>
                        <p class="goToDescription"><a href="#details" class="scroll-to">Xem chi tiết sản phẩm</a>
                        </p>
                        
                        {{#if SaleOff}}
                        <p class="price"><del>{{number_format Price}}</del> {{number_format Price}}</p>
                        {{else}}
                        <p class="price">{{number_format Price}}</p>
                        {{/if}}

                        {{#if ../layoutVM.isLogged}}
                        <form method="post" action="/cart/add">
                            <input type="hidden" value="{{ProID}}" name="proId">
                            <input type="hidden" value="1" name="quantity">
                            <p class="text-center buttons">
                                <button type="submit" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Thêm vào giỏ :)</button> 
                            </p>
                        </form>
                        {{else}}
                        <p class="text-center buttons">
                            <a href="#" data-toggle="modal" data-target="#login-modal" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Thêm vào giỏ :)</a> 
                            <a href="#" class="btn btn-default"><i class="fa fa-heart"></i> Thêm vào wishlist</a>
                        </p>
                        {{/if}}
                    </div>

                    <div class="row" id="thumbs">
                        <div class="col-xs-4">
                            <a href="/imgs/products/{{ProID}}/1.jpg" class="thumb">
                                <img src="/imgs/products/{{ProID}}/1.jpg" alt="" class="img-responsive">
                            </a>
                        </div>
                        <div class="col-xs-4">
                            <a href="/imgs/products/{{ProID}}/2.jpg" class="thumb">
                                <img src="/imgs/products/{{ProID}}/2.jpg" alt="" class="img-responsive">
                            </a>
                        </div>
                        <div class="col-xs-4">
                            <a href="/imgs/products/{{ProID}}/3.jpg" class="thumb">
                                <img src="/imgs/products/{{ProID}}/3.jpg" alt="" class="img-responsive">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {{/with}}

            <div class="box" id="details">
                <p>
                    {{#with product}}
                    <p>
                        <h4>Product details</h4>
                        <p>White lace top, woven, has a round neck, short sleeves, has knitted lining attached</p>
                        <h4>Material &nbsp; care</h4>
                        <ul>
                            <li>Polyester</li>
                            <li>Machine wash</li>
                        </ul>
                        <h4>Size &nbsp; Fit</h4>
                        <ul>
                            <li>Regular fit</li>
                            <li>The model (height 5'8" and chest 33") is wearing a size S</li>
                        </ul>

                        <blockquote>
                            <p><em>Define style this season with Armani's new range of trendy tops, crafted with intricate details. Create a chic statement look by teaming this lace number with skinny jeans and pumps.</em>
                            </p>
                        </blockquote>
                    </p>
                    {{/with}}
                    <hr>

                    <div class="social">
                        <h4>Chia sẻ với bạn</h4>
                        <p>
                            <a href="#" class="external facebook" data-animate-hover="pulse"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="external gplus" data-animate-hover="pulse"><i class="fa fa-google-plus"></i></a>
                            <a href="#" class="external twitter" data-animate-hover="pulse"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="email" data-animate-hover="pulse"><i class="fa fa-envelope"></i></a>
                        </p>
                    </div>
                </div>

                <div class="row same-height-row">
                    <div class="col-md-3 col-sm-6">
                        <div class="box same-height">
                            <h3>You may also like these products</h3>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div class="product same-height">
                            <div class="flip-container">
                                <div class="flipper">
                                    <div class="front">
                                        <a href="detail.html">
                                            <img src="img/product3.jpg" alt="" class="img-responsive">
                                        </a>
                                    </div>
                                    <div class="back">
                                        <a href="detail.html">
                                            <img src="img/product3_2.jpg" alt="" class="img-responsive">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <a href="detail.html" class="invisible">
                                <img src="img/product3.jpg" alt="" class="img-responsive">
                            </a>
                            <div class="text">
                                <h3>Fur coat</h3>
                                <p class="price">$143</p>

                            </div>
                        </div>
                        <!-- /.product -->
                    </div>

                </div>

                <div class="row same-height-row">
                    <div class="col-md-3 col-sm-6">
                        <div class="box same-height">
                            <h3>Products viewed recently</h3>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div class="product same-height">
                            <div class="flip-container">
                                <div class="flipper">
                                    <div class="front">
                                        <a href="#">
                                            <img src="#" alt="" class="img-responsive">
                                        </a>
                                    </div>
                                    <div class="back">
                                        <a href="#">
                                            <img src="#" alt="" class="img-responsive">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <a href="detail.html" class="invisible">
                                <img src="img/product2.jpg" alt="" class="img-responsive">
                            </a>
                            <div class="text">
                                <h3>Fur coat</h3>
                                <p class="price">$143</p>
                            </div>
                        </div>
                        <!-- /.product -->
                    </div>

                </div>

            </div>
            <!-- /.col-md-9 -->
        </div>
        <!-- /.container -->
    </div>
</div>
<!-- /#content -->