{{#section 'js'}}
<script src="/assets/customs/product.js"></script>
{{/section}}

<div id="content">
    <div class="container">

        <div class="col-md-12">
            <ul class="breadcrumb">
                <li><a href="/">Home</a>
                </li>
                <li>Tìm kiếm</li>
                {{#if query}}
                <li>{{query}}</li>
                {{/if}}
                {{#if CliName}}
                <li>{{CliName}}</li>
                {{/if}}
                {{#if BraName}}
                <li>{{BraName}}</li>
                {{/if}}
                {{#if CatName}}
                <li>{{CatName}}</li>
                {{/if}}
            </ul>
        </div>

        <div class="col-md-9">

            <div class="box info-bar">
                <div class="row">
                    <div class="col-sm-12 col-md-8 products-number-sort">
                        <div class="row">
                            <form class="form-inline">
                                <div class="col-md-6 col-sm-6">
                                    <div class="products-sort-by">
                                        <strong>Sort by</strong>
                                        <select name="sort-by" id="sort-by" class="form-control">
                                            <option value="viewed">Được xem nhiều</option>
                                            <option value="price-desc">Giá từ thấp đến cao</option>
                                            <option value="price-asc">Giá từ cao đến thấp</option>
                                        </select>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row products">

                {{#each products}}
                <div class="col-md-4 col-sm-6">
                    <div class="product">
                        <div class="flip-container">
                            <div class="flipper">
                                <div class="front">
                                    <a href="/product/detail">
                                        <img src="/imgs/products/{{ProID}}/1.jpg" alt="" class="img-responsive">
                                    </a>
                                </div>
                                <div class="back">
                                    <a href="/product/detail">
                                        <img src="/imgs/products/{{ProID}}/2.jpg" alt="" class="img-responsive">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <a href="/product/detail" class="invisible">
                            <img src="/imgs/products/{{ProID}}/1.jpg" alt="" class="img-responsive">
                        </a>
                        <div class="text">
                            <h3><a href="/product/detail">{{ProName}}</a></h3>
                            {{#if SaleOff}}
                            <p class="price"><del>{{number_format Price}}</del> {{number_format Price}}</p>
                            {{else}}
                            <p class="price">{{number_format Price}}</p>
                            {{/if}}

                            <p class="buttons">
                                <a href="/product/detail" class="btn btn-default"> Chi tiết</a>
                                <a href="basket.html" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Thêm vào giỏ :)</a>
                            </p>
                        </div>
                        <!-- /.text -->
                    </div>
                    <!-- /.product -->
                </div>
                {{/each}}

            </div>
            <!-- /.products -->

            <div class="pages">

                <ul class="pagination">

                    {{#each page_numbers}}
                    {{#if isCurrentPage}}
                    <li class="disabled prev"><a class="page-link" id="prev" data-page="{{value}}" data-total="{{../total}}" data-query="{{../query}}" href="javascript:;">&laquo;</a>
                    </li>
                    {{/if}}
                    {{/each}}

                    {{#each page_numbers}}
                    {{#if isCurrentPage}}
                    <li class="page-item active">
                        <a class="page-link" href="javascript:;">{{value}}</a>
                    </li>
                    {{else}}
                    <li class="page-item">
                        <a class="page-link" href="?page={{value}}&query={{query}}">{{value}}</a>
                    </li>
                    {{/if}}
                    {{/each}}

                    {{#each page_numbers}}
                    {{#if isCurrentPage}}
                    <li class="next"><a class="page-link" id="next" data-page="{{value}}" data-total="{{../total}}" data-query="{{../query}}" href="javascript:;">&raquo;</a>
                    </li>
                    {{/if}}
                    {{/each}}

                </ul>
            </div>

        </div>
        <!-- /.col-md-9 -->

        <div class="col-md-3">
            <!-- *** MENUS AND FILTERS *** -->
            <div class="panel panel-default sidebar-menu">

                <div class="panel-heading">
                    <h3 class="panel-title">Thể loại</h3>
                </div>

                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked category-menu">
                        {{#each layoutVM.client_infos}}
                        <li>
                            <a href="/product/byCli/{{client.CliID}}">{{client.CliName}}<span class="badge pull-right">00</span></a>
                            <ul>
                                {{#each cates}}
                                <li>
                                    <a href="/product/byCat/{{CatID}}">{{CatName}}</a>
                                </li>
                                {{/each}}
                            </ul>
                        </li>
                        {{/each}}
                    </ul>
                </div>
            </div>

            <div class="panel panel-default sidebar-menu">

                <div class="panel-heading">
                    <h3 class="panel-title">Thương hiệu<a class="btn btn-xs btn-danger pull-right" href="#"><i class="fa fa-times-circle"></i> Xóa</a></h3>
                </div>

                <div class="panel-body">
                    <form>
                        <div class="form-group">
                            {{#each layoutVM.brands}}
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">{{BraName}} (00)
                                </label>
                            </div>
                            {{/each}}
                        </div>

                        <button class="btn btn-default btn-sm btn-primary"><i class="fa fa-pencil"></i> Xác nhận</button>
                    </form>
                </div>
            </div>

            <!-- *** MENUS AND FILTERS END *** -->
        </div>

    </div>
    <!-- /.container -->
</div>
<!-- /#content -->