{{#section 'title'}}SSG Shoppin{{/section}}

<div id="content">

	<div class="container">
		<div class="col-md-12">
			<div id="main-slider">
				<div class="item">
					<img src="/imgs/icons/main-slider1.jpg" alt="" class="img-responsive">
				</div>
				<div class="item">
					<img class="img-responsive" src="/imgs/icons/main-slider2.jpg" alt="">
				</div>
				<div class="item">
					<img class="img-responsive" src="/imgs/icons/main-slider3.jpg" alt="">
				</div>
				<div class="item">
					<img class="img-responsive" src="/imgs/icons/main-slider4.jpg" alt="">
				</div>
			</div>
			<!-- /#main-slider -->
		</div>
	</div>

	<!-- *** NEWEST PRODUCT SLIDESHOW *** -->
	<div class="product-show">

		<div class="box">
			<div class="container">
				<div class="col-md-12">
					<h2>Hot this month</h2>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="product-slider">

				{{#each newest}}
				<div class="item">
					<div class="product">
						<div class="flip-container">
							<div class="flipper">
								<div class="front">
									<a href="/product/detail">
										<img src="/imgs/products/{{ProID}}/1.jpg" alt="" class="img-responsive">
									</a>
								</div>
								<div class="back">
									<a href="/product/detail">
										<img src="/imgs/products/{{ProID}}/2.jpg" alt="" class="img-responsive">
									</a>
								</div>
							</div>
						</div>
						<a href="/product/detail" class="invisible">
							<img src="/imgs/products/{{ProID}}/2.jpg" alt="" class="img-responsive">
						</a>
						<div class="text">
							<h3><a href="/product/detail">{{ProName}}</a></h3>
							{{#if SaleOff}}
							<p class="price"><del>{{number_format Price}}</del> {{number_format Price}}</p>
							{{else}}
							<p class="price">{{number_format Price}}</p>
							{{/if}}

							<p class="text-center buttons">
								<a href="" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Thêm vào giỏ :)</a> 
							</p>
						</div>
						<!-- /.text -->

					</div>
					<!-- /.product -->
				</div>
				{{/each}}

			</div>
			<!-- /.product-slider -->
		</div>
		<!-- /.container -->
	</div>

	<!-- *** NEWEST END *** -->

	<!-- *** TOP-SOLD PRODUCT SLIDESHOW *** -->
	<div class="product-show">

		<div class="box">
			<div class="container">
				<div class="col-md-12">
					<h2>Top sellers</h2>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="product-slider">

				{{#each top_sold}}
				<div class="item">
					<div class="product">
						<div class="flip-container">
							<div class="flipper">
								<div class="front">
									<a href="/product/detail">
										<img src="/imgs/products/{{ProID}}/1.jpg" alt="" class="img-responsive">
									</a>
								</div>
								<div class="back">
									<a href="/product/detail">
										<img src="/imgs/products/{{ProID}}/2.jpg" alt="" class="img-responsive">
									</a>
								</div>
							</div>
						</div>
						<a href="/product/detail" class="invisible">
							<img src="/imgs/products/{{ProID}}/2.jpg" alt="" class="img-responsive">
						</a>
						<div class="text">
							<h3><a href="/product/detail">{{ProName}}</a></h3>
							{{#if SaleOff}}
							<p class="price"><del>{{number_format Price}}</del> {{number_format Price}}</p>
							{{else}}
							<p class="price">{{number_format Price}}</p>
							{{/if}}
							<p class="text-center buttons">
								<a href="" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Thêm vào giỏ :)</a> 
							</p>
						</div>
						<!-- /.text -->

					</div>
					<!-- /.product -->
				</div>
				{{/each}}

			</div>
			<!-- /.product-slider -->
		</div>
		<!-- /.container -->
	</div>

	<!-- *** TOP-SOLD END *** -->

	<!-- *** TOP-VIEW PRODUCT SLIDESHOW *** -->
	<div class="product-show">

		<div class="box">
			<div class="container">
				<div class="col-md-12">
					<h2>Most general</h2>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="product-slider">

				{{#each top_viewed}}
				<div class="item">
					<div class="product">
						<div class="flip-container">
							<div class="flipper">
								<div class="front">
									<a href="/product/detail">
										<img src="/imgs/products/{{ProID}}/1.jpg" alt="" class="img-responsive">
									</a>
								</div>
								<div class="back">
									<a href="/product/detail">
										<img src="/imgs/products/{{ProID}}/2.jpg" alt="" class="img-responsive">
									</a>
								</div>
							</div>
						</div>
						<a href="/product/detail" class="invisible">
							<img src="/imgs/products/{{ProID}}/2.jpg" alt="" class="img-responsive">
						</a>
						<div class="text">
							<h3><a href="/product/detail">{{ProName}}</a></h3>
							{{#if SaleOff}}
							<p class="price"><del>{{number_format Price}}</del> {{number_format Price}}</p>
							{{else}}
							<p class="price">{{number_format Price}}</p>
							{{/if}}
							<p class="text-center buttons">
								<a href="" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Thêm vào giỏ :)</a>  
							</p>
						</div>
						<!-- /.text -->

					</div>
					<!-- /.product -->
				</div>
				{{/each}}

			</div>
			<!-- /.product-slider -->
		</div>
		<!-- /.container -->
	</div>

	<!-- *** TOP-VIEW END *** -->

</div>
<!-- /#content -->